.buttonlogin{
    color:black;
    border-color: white;
    background-color: #f4f4f6;
    border-radius: 25px;
}
.image-icon1{
    position: relative;
    left: -86px;
}
.image-icon2{
    position: relative;
    left: -94px;
}